@import "normalize";

$color1: #493657;
$color2: #fff8f0;
$color3: #f4d06f;

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
}

html {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	background-color: $color1;
	color: $color2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	min-height: calc(100vh - 128px);
	padding: 16px 32px;
}

.article {
	max-width: 320px;
}

.form {
}

.form__item {
	display: block;
	width: 100%;
}
