@import 'normalize';

$color1: #493657;
$color2: #FFF8F0;
$color3: #F4D06F;

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
}

html {
	box-sizing: border-box;
	font-family: monospace;
}

body {
  background-color: $color1;
  color: $color2;
}

.main {
  max-width: 1600px;
  margin: 64px auto;
  min-height: calc(100vh - 128px);
  padding: 16px 32px;
  text-align: center;
}


.article {
  
}